In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix,roc_curve,auc
from sklearn.model_selection import train_test_split

In [27]:
df = pd.read_csv("/Users/chetangangwal/GitDPBH/DARK-PATTERNS-2/dataset1.csv")

In [28]:
pd.DataFrame(df)

,page_id,text,label,Pattern Category
0,1012,FLASH SALE | LIMITED TIME ONLY Shop Now,1,Urgency
1,158,Pillowcases & Shams,0,Not Dark Pattern
2,108,Write a review,0,Not Dark Pattern
3,1425,"To start your return, simply click on the foll...",0,Not Dark Pattern
4,1658,newsletter signup (privacy policy),0,Not Dark Pattern
...,...,...,...,...
2351,1304,Bra Panty Set,0,Not Dark Pattern
2352,1038,DressesFootwearHatsHoodies & SweatshirtsJersey...,0,Not Dark Pattern
2353,1081,Only 4 left in stock,1,Scarcity
2354,767,Trending Players,0,Not Dark Pattern
2355,1468,10 Left in stock,1,Scarcity

In [29]:
df = df.drop('label', axis=1)

In [30]:
df = df.drop('Pattern Category', axis=1)

In [31]:
df

       page_id                                               text
0         1012            FLASH SALE | LIMITED TIME ONLY Shop Now
1          158                                Pillowcases & Shams
2          108                                     Write a review
3         1425  To start your return, simply click on the foll...
4         1658                newsletter signup (privacy policy)
...        ...                                                ...
2351      1304                                     Bra Panty Set
2352      1038  DressesFootwearHatsHoodies & SweatshirtsJersey...
2353      1081                               Only 4 left in stock
2354       767                                   Trending Players
2355      1468                                   10 Left in stock

[2356 rows x 2 columns]

    page_id                                               text
0      1012            FLASH SALE | LIMITED TIME ONLY Shop Now
1       158                                Pillowcases & Shams
2       108                                     Write a review
3      1425  To start your return, simply click on the foll...
4      1658                newsletter signup (privacy policy)

In [34]:
def sigmoid(v):
    return 1/(1+np.exp(-v))

def hypothesis(theta, X):
    return sigmoid(np.dot(X, theta))

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)